extends layout

block head


block content
	#content.col-xs-12.row
		.col-xs-12
			h3 Terms?
			p.
				When we say something is illegal we mean you can be charged with a crime just for being that thing.

		.col-xs-12
			h3 Why?
			p.
				The site was built out of conversation on Reddit after a user lamented their was no easy way to find out the legality of being trans in a country always made it hard to figure out where she could go on holiday.

		.col-xs-12
			h3 Why do you list homosexuality as well?
			p.
				Although being trans and being gay are not synonymous people and country's often wrongly conflate the two, people traveling as a couple but have not had gender markers changed on passport's etc can get caught out as well. Lastly when we have no specific information on a countrys law's according to trans people it often can server as a guideline to how that county acts.

		.col-xs-12
			h3 Who?
			p.
				The site is built by Louise McMahon a Web Developer from the UK along with submitters on Github.

		.col-xs-12
			h3 The Site?
			p.
				The site is built on NodeJS using Express, we use Jade for a template engine, along with SASS as a css preprocessor and bootstrap for frontend. The mapping software is provided by amCharts. The site runs on AWS Elastic Beanstalk and is deployed via DeployHQ.