#footer.col-xs-12.row
	.col-xs-12.row
			.col-md-3.col-xs-12
				a(href='/') Home
			.col-md-3.col-xs-12
				a(href='/about') About
			.col-md-3.col-xs-12
				a(href='/help') Help
			.col-md-3.col-xs-12
				a(href='https://github.com/LouiseMcMahon/Safe-To-Be-Trans') Github
	.col-xs-12.
		Note while all attempts have been made to maintain the accuracy of this map it should be used only as a guide and you should always check the local laws and customs of any country you travel to regardless of your gender or sexuality.
