extends layout

block head


block content

	#content.col-xs-12.row
		.col-xs-12
			h3 I don't write code but want to help
			p.
				If you see a country on the map that does not have info try and find it and submit on issue on <a href="https://github.com/LouiseMcMahon/Safe-To-Be-Trans/issues/new">github</a>. If your a cis person the best way you can help is by not going to these countrys, not doing buisness with them, not buying their products and generally making your feelings known.

		.col-xs-12
			h3 I do write code and want to help
			p.
				The sites code is on <a href="https://github.com/LouiseMcMahon/Safe-To-Be-Trans">github</a> along with the data files pull requests are welcome but please read our <a href="https://github.com/LouiseMcMahon/Safe-To-Be-Trans/blob/master/.github/CONTRIBUTING.md">contribution guidelines</a> first