extends layout

block head
	script(src='/map/ammap.js')
	script(src='/map/maps/worldLow.js')
	script(src='/map/themes/light.js')
	script(src='/map/plugins/responsive/responsive.min.js')

block content
	.col-xs-12
		script.
			var map = AmCharts.makeChart( 'chartdiv', {
				'type': 'map',
				'theme': 'light',
				'projection':'miller',
				'dataProvider': {
					'map': 'worldLow',
					'getAreasFromMap': true,
					'areas': !{JSON.stringify(mapData)}

				},
				'smallMap': {},
				'responsive': {
					'enabled': true
				}
			} );

			//scales the height as AmCharts does not work if the container has percentage height
			$(function () {
				$(window).resize(function () {
					$('#chartdiv').height($(window).height() - ($('#header').outerHeight(true) + $('#footer').outerHeight(true)));
				});
				$(window).resize();
			});

		#chartdiv
