doctype html
html
	head
		title Safe To Be Trans
		link(rel='stylesheet', href='/stylesheets/_bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block head
	body
		.container-fluid
			include header
			block content
