span #{name}
<br />
if(transgender === true)
	span Being transgender is legal.
else if (transgender === false)
	span Being transgender is illegal.
else
	span The legality of transgenderism is unknown.
<br />
if(homosexuality === true)
	span Homosexuality is legal.
else if (homosexuality === false)
	span Homosexuality is illegal.
else
	span The legality of homosexuality is unknown.